
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@300&family=Roboto+Condensed:wght@900&family=Roboto:wght@300;400;700&family=Work+Sans&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background:url('./../assets/Instructionsbackground.png');
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
/* Nav bar */
nav{
    display: flex;
    justify-content: space-between;
    height: 5%;
    padding: 50px 100px;
}

nav div{
    display: flex;
    align-items: center;
}

.left img{
    width: 50px;
    margin-right: 25px;
}

.left img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.left p{
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.left p:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.restart{
    margin-top: 10px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: #7945E3;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.restart:hover{
    transform: scale(1.1);
}

/* Board Container */
.chess{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    place-items: center;
    max-width: 580px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* Chess Board */
.board{
    display: grid;
    place-items: center;
    max-width: 550px;
    border: 3px solid #7F4EE2;
    border-radius: 5px;
    padding: 2px;
}

.board ul{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.board .divv{
    display: flex;
}

.board li{
    list-style: none;
    display: grid;
    font-size: 0;
    place-items: center;
}

.box{
    margin: .5px;
    height: 65px;    
    width: 65px;
}
/* Image Size */
.allimg{
    width: 40px;
    position: relative;
}

.allimg:hover{
    transform: scale(1.1);
}

#tog{
    margin-bottom: 15px;
    color: #ffffff;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 10px;
    max-width: 500px;
}

.footer span{
    color: white;
    font-weight: 800;
    font-size: 18px;
}

/* Game over */
.gameover{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0,0.8);
    display: none;
}

.gameover .content{
    background-color: white;
    width: 35%;
    height: 35%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.windiv h1{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 25px;
    color: #7945E3;
}

.windiv h2{
    color: #855ECC;
    font-weight: 900;
}
.options{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 5%;
}

.options button{
    background-color: #7945E3;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.options button:hover{
    transform: scale(1.1);
}

#homebtn{
    background-color: #BF93EF;
}

#replay{
    background-color: #7553E0;
}

/* Responsive for 950px*/

@media screen and (max-width:950px) {
    body{
        background: #7553E0;
    }
}

@media (max-width:650px){
    .box{
        width: 11vw;
        height: 11vw;
    }
    .allimg{
        width: 7vw;
    }
}

/* Responsive for 950px*/

@media screen and (max-width:480px) {
    nav{
        padding: 50px 25px;
    }
    .left img{
        margin-right: 10px;
    }
    .chess{
        width: 80%;
        margin: auto;
        height: 75%;
    }
    .box{
        width: 10vw;
        height: 10vw;
    }
    .allimg{
        width: 7vw;
    }
    .windiv h1{
        margin-bottom: 10px;
    }
    .gameover .content{
        width: 80%;
    }
    
    .options{
        width: 80%;
        justify-content: space-between;
    }
}

