
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@300&family=Roboto+Condensed:wght@900&family=Roboto:wght@300;400;700&family=Work+Sans&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    padding: 25px 100px;
}
.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 50px;
    margin-right: 25px;
    cursor: pointer;
}

.left p{
    margin-top: 15px;
    font-size: 20px;
    color: #7945E3;
    font-weight: 600;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 5%;
}

.image img{
    width: 75%;
}

.content p{
    color: #7945E3;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10%;
}

.content div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pd{
    margin: 5%;
}

#p1name, #p2name{
    width: 200px;
    height: 40px;
    border: 2px solid #7945E3;
    border-radius: 20px;
    background-color: #AC91FC;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#p1name::placeholder, #p2name::placeholder{
    color: white;
}
#p1nick::placeholder, #p2nick::placeholder{
    color: white;
}

#p1nick, #p2nick{
    width: 150px;
    height: 40px;
    border: 2px solid #7945E3;
    border-radius: 20px;
    background-color: #AC91FC;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.next{
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 50px;
    background-color: #7945E3;
    font-size: 24px;
    font-weight: 600;
    margin:  10px 25px;   
    border: none;
    cursor: pointer;
}

.next:hover{
    transform: scale(1.1);
}

.ctime select{
    margin-left: 80%;
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #7945E3;
    color: #7945E3;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

@media screen and (max-width:480px){

    .main{
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content p{
        font-size: 26px;
    }
    
    .image img{
        display: none;
    }
    #p1name, #p2name{
        width: 50%;
        font-size: 16px;
    }
    #p1nick, #p2nick{
        width: 40%;
        font-size: 16px;
    }
    .pd{
        margin: 3%;
    }

    .ctime select{
        width: 90px;
        margin: 25px auto;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 13%;
    }
}